<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beamformer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C7C9593B1C19FBEC0075EF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C9594F1C19FBEC0075EF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7C9595A1C19FBEC0075EF90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
